spring:
  application:
    name: AL-Notification-Service
  mail:
    host: smtp.gmail.com
    port: 587
    username: alesante87@gmail.com
    password: nwcx hyoy tinq iimq
    properties:
        mail:
          smtp:
            auth: true
            starttls:
              enable: true
              required: true
            connectiontimeout: 5000
            timeout: 5000
            writetimeout: 5000

server:
  port: 8080

logging:
  level:
<<<<<<< HEAD
    org.eSante.notificationservice: DEBUG
    org.springframework.web.socket: DEBUG
=======
    fr.polytech.notification: DEBUG
    org.springframework.web.socket: DEBUG
>>>>>>> 70997841c214f6b52de5bdfc5e544a8717b6584a
