spring:
  application:
    name: AL-Notification-Service
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${SPRING_MAIL_USERNAME:}
    password: ${SPRING_MAIL_PASSWORD:}
    properties:
        mail:
          smtp:
            auth: true
            starttls:
              enable: true
              required: true
            connectiontimeout: 5000
            timeout: 5000
            writetimeout: 5000

server:
  port: 8080

logging:
  level:
    org.eSante: DEBUG
    org.springframework.web.socket: DEBUG
