# Java / Spring Boot
/target/
/data/
/*.iml
.idea/
/.classpath
/.project
/.settings/
/.mvn/wrapper/maven-wrapper.jar

# Node / Frontend

/node_modules/
/dist/
/build/
/.cache/
/.npm/
/yarn-error.log
package-lock.json
yarn.lock

#  IDE
.vscode/
*.swp
*.swo
